.wrapper{
    height: 640px;
    width: 100%;
    // background-color: blue;
   }

  .box_1{
    position: relative;
    display: inline-block;
    height: 500px;
    width: 310px;
    border-radius: 30px;
    background-color: #0E1626;
    margin: 60px 25px 0px 25px;
  }

  .title{
    display: block;
    margin: 50px 0 0 25px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 33px;
    line-height: 54px;
    color: #F3F3F3;
    width: 100%;
  }

  .color{
      color: #F2490C;
  }

  .illustration_01{
    background-image: url("./../../assets/img/illustration_01.svg");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 70px;
    height: 170px;
    width: 100%;
    background-size: 230px auto;
    outline:none;
}


@media (min-width: 1360px) {

    .wrapper{
        height: 768px;
        width: 100%;
        // background-color: blue;
       }
    
      .box_1{
        position: relative;
        display: inline-block;
        height: 600px;
        width: 1186px;
        border-radius: 30px;
        background-color: #0E1626;
        margin: 40px 0 0px 80px;
      }
    
      .title{
          position: absolute;
        display: block;
        margin: 50px 0 0 90px;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 53px;
        line-height: 79px;
        color: #F3F3F3;
        width: 500px;
        // background-color: green;
      }
    
      .color{
          color: #F2490C;
      }
    
      .illustration_01{
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url("./../../assets/img/illustration_01.svg");
        background-repeat: no-repeat;
        background-position: center top;
   
        height: 340px;
        width: 700px;
        background-size: 460px auto;
        outline:none;
        // background-color: red;
    }

}

@media (min-width: 1920px) {

  .wrapper{
    height: 1080px;
    width: 100%;
    // background-color: blue;
   }

  .box_1{
    position: relative;
    display: inline-block;
    height: 900px;
    width: 1716px;
    border-radius: 30px;
    background-color: #0E1626;
    margin: 40px 80px 0px 80px;
  }

  .title{
    position: absolute;
    display: block;
    margin: 100px 0 0 160px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 71px;
    line-height: 106px;
    color: #F3F3F3;
    width: 600px;
    // background-color: green;
  }

  .color{
      color: #F2490C;
  }

  .illustration_01{
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("./../../assets/img/illustration_01.svg");
    background-repeat: no-repeat;
    background-position: center top;

    height: 500px;
    width: 1000px;
    background-size: 700px auto;
    outline:none;
    // background-color: red;
}

}