.wrapper{
    position: absolute;
    width: 40px;
    height: 32px;
    right: 25px;
    top: 30px;
    // background-color: red;
 }


 .line_1{
    width: 100%;
  height: 4px;
  background-color: #F2490C;
  margin-bottom: 10px;
  border-radius: 2px;
  
 }